@import "@fortawesome/fontawesome-svg-core/styles.css";

* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    padding-top: 60px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 20px;
}
img {
    max-width: 100%;
}
section:nth-child(even) {
    background: #f9f9f9;
}
.logo {
    display: inline-block;
    max-width: 150px;
}
.btn-outline-danger {
    color: #d62d2d;
    border-color: #d62d2d;
    &:hover {
        background: #d62d2d;
    }
}
.telephone {
    a {
        color: rgba(255, 255, 255, 0.55);
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        &:hover {
            color: rgba(255, 255, 255, 0.75);
        }
    }
}
.banner-main {
    margin-bottom: 0;
    position: relative;
    img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
    }
    .bannerposition {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        right: 0;
        margin: auto;
        width: 100%;
        z-index: 99;
    }
}
.client-pic {
    max-width: 180px;
}
.react-multi-carousel-track {
    align-items: center;
    padding: 0 20px;
}
.ip-protection {
    .react-multiple-carousel__arrow--left {
        left: 0;
    }
    .react-multiple-carousel__arrow--right {
        right: 0;
    }
    .react-multiple-carousel__arrow {
        border-radius: 0;
        background: #d62d2d;
        width: 40px;
        height: 40px;
        &:hover,
        &:focus {
            background: #d62d2d;
        }
    }
}

.service {
    .react-multi-carousel-track {
        margin-bottom: 50px;
    }
}
.testimonial-outr {
    .service-outr {
        padding-left: 15%;
        padding-right: 15%;
    }
    .slick-next {
        right: 0;
    }
    .slick-prev {
        left: 0;
    }
    .slick-prev,
    .slick-next {
        border-radius: 0;
        background: #d62d2d;
        width: 40px;
        height: 40px;
        z-index: 999;
        &:hover,
        &:focus {
            background: #d62d2d;
        }
    }
    .clientsimage {
        width: 195px;
        height: 195px;
        border-radius: 100%;
        overflow: hidden;
        display: inline-block;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}
.testimonial {
    position: relative;
    border-top: 1px solid #fff0f0;
    border-bottom: 1px solid #fff0f0;
    &:after {
        content: "";
        position: absolute;
        clip-path: polygon(53% 0, 100% 0, 100% 100%, 0% 100%);
        z-index: -1;
        background: #fff0f0;
        width: 70%;
        top: 0;
        right: 0;
        height: 100%;
    }
}
.work-outr {
    .card {
        height: 100%;
    }
    .card-img-top {
        height: 400px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

#contact-form {
    font-family: sans-serif;
    padding: 20px;

    input,
    textarea {
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
        margin-bottom: 15px;
    }

    textarea {
        height: 100px;
        resize: vertical;
        border: 1px solid rgb(206, 212, 218);
        border-radius: 0.25rem;
    }

    form {
        span {
            display: none;
            text-align: center;

            &.visible {
                display: block;
            }
        }
    }
}
main {
    min-height: 80vh;
}
.contact {
    a {
        color: #000;
        text-decoration: none;
    }
}
.wp-block-media-text {
    display: flex;
    align-items: flex-start;
    .wp-block-media-text__media {
        flex-shrink: 0;
        margin: 0 20px 20px 0;
    }
}
.faqs {
    p {
        margin-bottom: 25px;
    }
    a {
        text-decoration: none;
        color: #000;
    }
}
.mainSpacing {
    padding-top: 80px;
    padding-bottom: 80px;
}
@media (min-width: 1200px) {
    .display-6 {
        font-size: 2.2rem;
    }
}
@media only screen and (max-width: 1199px) {
    .navbar-collapse {
        flex-basis: 100%;
        position: absolute;
        top: 100%;
        background: #212529;
        width: 100%;
        left: 0;
        border-top: 1px solid #2e2e2e;
        .navbar-nav {
            padding-left: 15px;
        }
    }
}
@media only screen and (max-width: 767px) {
    span.navbar-brand .logo {
        max-width: 100px;
    }
    .wp-block-media-text {
        flex-wrap: wrap;
        .wp-block-media-text__media {
            flex-shrink: inherit;
            img {
                width: auto !important;
            }
        }
    }
    .step {
        text-align: center;
    }
    .display-1 {
        font-size: 3rem;
    }
    .display-3 {
        font-size: 1.525rem;
    }
    .display-6 {
        font-size: 1.2rem;
    }
    .testimonial-outr .clientsimage {
        width: 140px;
        height: 140px;
    }
    .service {
        text-align: center;
    }
    .navbar-toggler {
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
    }
    .navbar {
        .btn {
            font-size: 0.8rem;
        }
    }
    body {
        padding-top: 56px;
    }
    .mainSpacing {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media only screen and (max-width: 560px) {
    .banner-main {
        height: 365px;
        img {
            height: 100%;
        }
    }
}
@media only screen and (max-width: 494px) {
    .telephone svg {
        display: none;
    }
    .navbar > .container {
        justify-content: center;
    }
    .navbar-brand {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .small-device-header {
        margin: auto;
    }
    body {
        padding-top: 105px;
    }
    .bannerposition {
        .display-1 {
            font-size: 2rem;
        }
        h3 {
            font-size: 20px;
        }
    }
}
@media only screen and (max-width: 374px) {
    .small-device-header {
        flex-wrap: wrap;
        justify-content: center;
    }
    .telephone {
        margin-bottom: 15px;
    }
}
